<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <script type="javascript" src="/js/main.js"></script>
</head>

<body>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/" class="{{#if activeShop}}active{{/if}}">Shop</a>
            </li>
            <li class="main-header__item">
                <a href="/products" class="{{#if activeProducts}}active{{/if}}">Products</a>
            </li>
            <li class="main-header__item">
                <a href="/cart" class="{{#if activeCart}}active{{/if}}">Cart</a>
            </li>
            <li class="main-header__item">
                <a href="/orders" class="{{#if activeOrders}}active{{/if}}">Orders</a>
            </li>
            <li class="main-header__item">
                <a href="/admin/add-product" class="{{#if activeAdminAddProduct}}active{{/if}}">Add Product</a>
            </li>
            <li class="main-header__item">
                <a href="/admin/products" class="{{#if activeAdminProducts}}active{{/if}}">Admin Products</a>
            </li>
        </ul>
    </nav>
</header>

{{{ body }}}

</body>
</html>
