<main>
    {{#if hasOrders}}
        <ul class="cart__item-list">
            {{#each orders}}
                <li class="cart__item">
                    <p>Order: #{{ id }}</p>
                    <ul class="cart__item-list">
                        {{#each products}}
                            <li class="cart__item">
                                <p>{{ title }} ({{ orderItem.quantity }})</p>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <h1>No Products in the cart!</h1>
    {{/if}}
</main>
